body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 240, 255);
    margin: 0;
    line-height: 1.6;
}
header {
    background-color: rgb(132, 0, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 20px;
}
nav {
    background-color: #46345e;
    text-align: center;
    padding: 12px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin:  0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #a90ff1;
}

section {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background-color: #3d2c50;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s, background-color;
